Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



# Reglas rapidas
ErrorDocument 400 /modulos/error404/index.php
ErrorDocument 401 /modulos/error404/index.php
ErrorDocument 403 /modulos/error404/index.php
ErrorDocument 404 /modulos/error404/index.php
ErrorDocument 500 /modulos/error404/index.php

RewriteRule ^error404(|/)$ /modulos/error404/index.php

RewriteRule ^(|/)$ /modulos/login/index.php
RewriteRule ^index(|/)$ /modulos/login/index.php

RewriteRule ^usuario(|/)$ /modulos/usuario/index.php
RewriteRule ^registro(|/)$ /modulos/registro/index.php

RewriteRule ^chat/([0-9]+)/ /modulos/chat/index.php?id_usuario=$1
RewriteRule ^chat/([0-9]+) /modulos/chat/index.php?id_usuario=$1



