Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reglas rapidas
ErrorDocument 400 /error404
ErrorDocument 401 /error404
ErrorDocument 403 /error404
ErrorDocument 404 /error404
ErrorDocument 500 /error404

RewriteRule ^error404(|/)$ /modulos/error404/index.php

RewriteRule ^(|/)$ /modulos/login/index.php
RewriteRule ^index(|/)$ /modulos/login/index.php

RewriteRule ^usuario(|/)$ /modulos/usuario/index.php
RewriteRule ^registro(|/)$ /modulos/registro/index.php

RewriteRule ^chat/([0-9]+)/ /modulos/chat/index.php?id_usuario=$1
RewriteRule ^chat/([0-9]+) /modulos/chat/index.php?id_usuario=$1



